
@media (max-width: 1440px) {
    .header__content {
        max-width: 100rem;
        font-size: 4rem;
    }

    .header__descr {
        font-size: 2rem;
    }

    .header__img {
        max-width: 40rem;
        margin-left: 5rem;
    }

    .features {
        gap: 6rem;
    }

    .features__feature {
        width: 80%;
        font-size: 1.8rem;
    }

    .features__header {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .header__content {
        max-width: 80rem;
        font-size: 3rem;
    }

    .header__descr {
        font-size: 1.5rem;
    }

    .header__img {
        max-width: 30rem;
        margin-left: 4rem;
    }

    .features {
        gap: 8rem;
    }

    .features__feature {
        width: 85%;
        font-size: 1.4rem;
    }

    .features__header {
        font-size: 1.5rem;
    }

    .features__icon {
        height: 4.5rem;
        width: 4.5rem;
    }

    .form-input,
  .form-select {
    min-width: 100px;
  }
}

@media (max-width: 860px) {
    .header__content {
        max-width: 60rem;
        font-size: 2rem;
    }

    .header__descr {
        font-size: 1rem;
    }

    .header__img {
        max-width: 20rem;
        margin-left: 3rem;
    }

    .features {
        gap: 10rem;
    }

    .features__feature {
        width: 90%;
        font-size: 1rem;
    }

    .features__header {
        font-size: 1rem;
    }

    .features__icon {
        height: 3.5rem;
        width: 3.5rem;
    }

    .form-input,
  .form-select {
    min-width: 60px;
  }

    .nav__links-wrapper {
      display: none;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: var(--color-primary-darker);
      width: 100%;
      padding: 1rem;
    }
  
    .nav__links-wrapper.show {
      display: block;
    }
  
    .burger {
      display: flex;
    }
  
    .nav__links {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav__item {
      margin: 1rem 0;
    }
  }