:root {
  --color-primary: #0054a3;
  --color-primary-darker: #004280;
  --color-primary-lighter: #2a7bd1;
  --background-color-btn: #cbcfd2;
  --text-color: #a5a8aa; /* Use white for better contrast on dark backgrounds */
}

.dark-mode {
  --color-primary: #cbcfd2; /* Swap button background as primary color */
  --color-primary-darker: #002e5f; /* Use the primary color as the darker tone */
  --color-primary-lighter: #266bff; /* Use darker as lighter for subtlety */
  --background-color-btn: #003772; /* Darken button background */
  --text-color: #a5a8aa; /* Use white for better contrast on dark backgrounds */
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--color-primary-darker);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  padding: 6rem 3rem;
  transition: transform 1s, opacity 1s;
  background-color: var(--background-color-btn);
}

.section--offset {
  padding: 150px 50px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  font-size: 50px;
  color: var(--color-primary);
  font-weight: 700;
}

.section__subtitle {
  max-width: 80rem;
  font-size: 35px;
  color: var(--color-primary);
  font-weight: 500;
}


/* NAVIGATION  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  min-width: 350px;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav.sticky {
  position: fixed;
  background-color: var(--color-primary-darker);
}

.nav__logo {
  width: 180px;
  height: 40px;
  transition: all .5s ease-in-out;
}

.nav__logo:hover {
  filter: drop-shadow(0 0 5px #CBCFD2);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
  color: #fff;
  transition: all .2s ease;
}

.nav__item:hover {
  color: var(--color-primary-lighter);
}

.nav__item:focus {
  color: var(--color-primary-lighter);
}

.nav__item:active {
  color: var(--color-primary);
}

.nav__link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.nav__link--btn,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--background-color-btn);
  color: var(--color-primary);
}

.nav__link--btn:hover {
  color: inherit;
  background-color: var(--color-primary-lighter);
  color: #fff;
}

.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary);
  color: var(--background-color-btn);
}

/* Burger menu */

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.burger span {
  display: block;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.nav__links-wrapper {
  display: flex;
  align-items: center;
}


/* HEADER */

.header__hero {
  height: max(100vh, 80rem);
  padding: 250px 0;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-size: 10rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero__descr {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 9.375rem;
}

.hero__arrow {
  background-color: var(--background-color-btn);
  color: var(--color-primary);
  padding: 1.5rem 2.5rem;
  border-radius: 100%;
  font-size: 24px;
  transition: background-colo 0.6s ease-in-out, color 0.6s ease-in-out,
    box-shadow 0.9s ease-in;
}

.hero__arrow:hover {
  background-color: var(--color-primary);
  color: var(--background-color-btn);
  box-shadow: 0 10px 10px rgba(3, 103, 202, 0.2);
}

.hero__arrow:active {
  transform: scale(0.96);
}

/* main */

.about-us {
  padding: 300px 50px;
  background-color: var(--background-color-btn);
}

/* FEATURES */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5rem;
}

.features__header {
  color: var(--color-primary-darker);
  filter: drop-shadow(1px 1px var(--color-primary-lighter));
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features__descr {
  color: #fff;
  filter: drop-shadow(1px 1px var(--color-primary));
  font-weight: 640;
  font-size: 1.2em;
}

.hover-caption {
  width: 100%;
  aspect-ratio: 13 / 11; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative; 
  border-radius: 32px;
  box-shadow: 5px 10px 19px 2px rgba(255, 255, 255, 0.7);
}

.hover-caption img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  transition: transform 200ms, filter 200ms;
}

.hover-caption figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5rem;
  transform: translateY(100%); 
  transition: transform 200ms;
}

.hover-caption:hover figcaption {
  transform: translateY(-1rem); 
}

.hover-caption:hover img {
  transform: translateY(1rem);
  filter: blur(3px);
}


/* Clients */

.rewies__descr {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary-lighter);
  margin-bottom: 1rem;
}

.rewies__header {
  color: #fff;
  font-size: 3.7rem;
  line-height: 1.3;
  font-weight: 500;
}

.testimonial {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 32px;
  width: 65%;
  position: relative;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--color-primary-darker);
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #000a22;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  color: var(--color-primary-darker);
  font-weight: 500;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 5%;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 80%;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.8rem;
  font-weight: 700;
  align-self: end;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SLIDER */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--background-color-btn);
  font-family: inherit;
  color: var(--color-primary);
  font-weight: 700;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.slider__btn:hover {
  background-color: var(--color-primary);
  color: var(--background-color-btn);
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* FAQ'S */
.faqs {
  background-color: var(--background-color-btn);
}

.faqs__title {
  font-size: 45px;
  color: var(--color-primary);
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7794b8;
  font-size: 2.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--color-primary-lighter);
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: var(--color-primary);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  color: var(--color-primary);
  font-size: 1.25rem;
  font-weight: 300;
  margin: 2em 0;
}

/* FOOTER */

.footer {
  background-color: var(--color-primary-darker);
  padding: 50px 25px;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}

.footer__link {
  font-size: 1.8rem;
  color: var(--color-primary-lighter);
}


